body{
  background-color: #F9F9F9 !important;
}
.header__logo_text {
  color: #6C5FBC;
  font-size: 30px;
  margin-left: 20px;
}
.header__logo a{
  display: flex !important;
  width: 150px;
}
.header__logo{
  display: flex;
}
.sgn_btn button{
  background-color: #6C5FBC;
  color: #FFF;
}
.login__form{
  display: flex;
  width: 200px;
  justify-content: space-evenly;
}
.navbar__horizont__line{
  width: 100%;
}
.header__header{
  font-family: 'Inter', sans-serif;
}
.banner__banner{
  font-family: 'Poppins', sans-serif;
}
.trustpilot__block{
  display: flex;
}
.preview__text__article{
  color: gray;
  margin-top: 3px;
}
.preview__text__article__block{
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.preview__text__article__block hr{
  width: 20%;
}
.preview__text{
  width: 50%; 
}
.banner__block{
  margin-left: 6%;
}
.preview__text__title{
  font-weight: 900;
  font-size: 60px;
}
.preview__text__paragraph{
  font-size: 19px;
  width: 80%;
  padding: 30px 0px 30px 0px;
}
.banner__btn{
  color: #FFFFFF !important;
  border-radius: 0.77575rem;
  border: none !important;
  background: #6C5FBC !important;
  width: 156px;
  height: 59px;
  top: 623px;
  left: 96px;
  border-radius: 12.41154956817627px;
}
.banner_button__block button.banner__btn:nth-child(2) {
  background-color: #ffffff !important;
  color: #6C5FBC !important;
  border: 1px solid #6C5FBC !important;
  font-weight: 900;
  width: 110px;
  height: 59px;
  top: 623px;
  left: 270px;
  border-radius: 12.41154956817627px;
}
.trustpilot__block{
  margin-top: 45px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.statistic__block{
  background-color: #6C5FBC;
  display: flex;
  margin-top: 80px;
  padding: 50px 0px 50px 0px;
  justify-content: space-evenly;
  color: #FFF;
}
.download__section{
  padding: 160px 0px 120px 0px;
  display: flex;
  justify-content: space-evenly;
}
.download__section_title{
  font-weight: 700;
}
.download__section_text{
  width: 30vw;
}
.download__section__btn button{
  width: 156px;
  height: 63px;
  border-radius: 14.675256729125977px;
  background-color: #6C5FBC;
  border: none;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;  
}
.download__section__btn{
  padding-top: 45px;
}
.download__section__btn div{
  margin-left: 35%;
  margin-top: -25px;
}
.download__section__image img{
  height: 500px;
}
.restaurant__top__element{
  background-color: #FFF;
  border: 1.25px solid #F4F4F6;
  width: 20vw;
  height: 20vw;
  border-radius: 30.02276039123535px 30.02276039123535px 0px 0px;
  box-shadow: 5.94564151763916px 71.34769439697266px 35.67384719848633px 0px #E5E5E5B2;
}
.restaurants__top .container{
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.restaurant__top__block{
  margin-bottom: 400px;
  width: 80%;
  height: 300px;
}
.restaurant__element__image img{
  width: 100%;
  height: 100%;
  top: 2156.69921875px;
  left: 96px;
  border-radius: 30.02276039123535px 30.02276039123535px 0px 0px;
  opacity: 0.10000000149011612px;
}
.restaurant__element__image{
  width: 20vw;
  height: 10vw;
  padding: 0 !important;
}
.restaurant__top__block {
  max-width: 1000px; 
  margin: 45px auto;
}
.restaurant__top__title{
  display: flex;
  justify-content: center;
}